@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", serif;
}
body{
    background-color: #F2F2F2;
    padding: 2rem;
    color: #FFFFFF;
}
.card-container{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10rem auto;
}
.card1{
    background-color: #E28525;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}
.image img{
    margin: 0.5rem 0 1rem 0;
}
.card1 h1,
.card2 h1,
.card3 h1{
    font-family: "Big Shoulders Display", sans-serif;
    margin: 0.5rem 0 1rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.card1 p, .card2 p, .card3 p{
    margin: 0.5rem 0 1rem 0;
    font-size: 1rem;
}
.card1 p{
    color: #FBDFB8;
}
.card2 p{
    color: #B9DDDF;
}
.card3 p{
    color: #BDD6D8;
}
.card1 button{
    color: #D68336;
}
.card2 button{
    color: #046069;
}
.card3 button{
    color: #073E3C;
}
.card1 button:hover{
    color: #ffffff;
    background-color: #B46B1E;
}
.card2 button:hover{
    color: #ffffff;
    background-color: #01545A;
}
.card3 button:hover{
    color: #ffffff;
    background-color: #003432;
}
.card1 button, .card2 button, .card3 button{
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    border: none;
    margin: 1rem 0;
    font-weight: 600;
    box-shadow: 2px 2px 5px #3a5756;
}
.card2{
    background-color: #016972;
    padding: 2rem;
}
.card3{
    background-color: #00403F;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
}

@media (min-width: 768px){
    body{
        display: flex;
        padding: 5rem;
        justify-content: center;
        align-items: center;
    }

    .card1, .card2, .card3{
        width: 250px;
    }
    .card1{
        border-radius: 1rem 0 0 1rem;
    }
    .card3{
        border-radius: 0 1rem 1rem 0;
    }
}